.coment{
  text-align: center;
  padding-block-end: 40px;
  padding-block-start: 40px;
  /* margin-inline-end: 233px;
  margin-inline-start: 233px; */

}

.coment-description{
  display: flex;
  flex-direction: column;
  font: var(--headline5);
  color: var(--purple);
  /* justify-content: center; */
  gap: 24px;
}

.coment-description p{
  margin: auto;
}

.coment p:first-child{
  font: var(--body1);
  font-size: 24px;
  line-height: 38.83px;
  /* inline-size: 900px; */
}

.coment-image{
  margin: auto;
}

.coment-image img{
  inline-size: 80.52px;
  block-size: 80.52px;
}

@media screen and (min-width: 768px){
  .coment{
    margin-block-end: 80px;
    margin-block-start: 80px;
  }

  .coment-content{
    display: flex;
    justify-content: center;
  }

  .coment-description{
    max-inline-size: 900px;
    text-align: center;
  }

  .coment p:first-child{
    font: var(--fontOxygen);
    /* inline-size: 900px; */
  }
}