.project{
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.project-description{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-description p{
  color: var(--purple);
}

.project-button{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-image img{
  max-inline-size: 100%; /*para que en el responsive se adapte a su contenedor*/
}

@media screen and (min-width: 768px) {
  .project{
    display: flex;
    align-items: center;
    /* gap: 32px; */
    padding-block-start: 80px;
    padding-block-end: 80px;

  }

  .project-description{
    flex: 1;
    max-inline-size: 449px;
  }

  .project-button{
    display: flex;
    flex-direction: row;
   gap: 16px;
  }

  /*modo escritorio las imagenes y el text se intercalan*/
  .project:nth-of-type(odd) .project-image{
    order: 2;
    flex: 1;
    text-align: center;
  }
}